<%= link_to({ controller: 'space/admin/desks', action: 'all' }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'chair', class: 'icon is-medium text-primary' %>
  <div class="size-7 text-grey mt-1"><%= t('space.admin.desks.all.title') %></div>
<% end %>
